.payment {
  width: min(100%, 500px);
  background-color: white;
  font-size: 12px;
}

:host ::ng-deep .p-calendar {
  width: 100%;
}

.card {
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

:host ::ng-deep .p-inputtext {
  height: 35px;
}
